<nav class="navbar navbar-expand-lg nav-color bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand link-light" href="#">
      <i class="fas fa-barcode"></i> Barcode - Zebra ZD220
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to items_path, class: "nav-link link-light" do %>
            <i class="fas fa-home"></i> Início
          <% end %>
        </li>        
        <li class="nav-item">
         <%= link_to '#',  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#exampleModal', class: 'nav-link link-light'}  do %>
          <i class="fas fa-question-circle"></i> Ajuda
         <% end %> 
        </li>  
        <li class="nav-item">
         <%= link_to '#',  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#modalSobre', class: 'nav-link link-light'} do %>
          <i class="fas fa-info-circle"></i> Sobre
         <% end %>
        </li> 
        <li class="nav-item">
          <%= link_to '#', class: "nav-link link-light" do %>
            <i class="fas fa-user-circle"></i> <%= current_user.email if user_signed_in?%> 
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link link-light" do %>
            <i class="fas fa-sign-in-alt"></i> Sair
          <% end %>
        </li>            
      </ul>
    </div>
  </div>
</nav>