<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :numero, class: 'form-label'%>
    <%= form.text_field :numero, class: "form-control", id: "numeroInput", placeholder: "Tombamento" %>
  </div>

  <div class="mb-3">
    <%= form.label :descricao, class: 'form-label' %>
    <%= form.text_area :descricao, class: "form-control", id: "descricaoInput", placeholder: "Descrição do item" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


