<div class="card mt-2">
  <div class="card-header">
    <i class="fas fa-barcode"></i> Itens
  </div>
  <div class="card-body">
    <h5 class="card-title">Importação de itens via arquivo CSV</h5>
    <p class="card-text">Permite que itens sejam inseridos em massa via arquivo csv</p>
    <%= render 'import' %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-pen"></i> Ações
      </div>
      <div class="card-body">       
       <%= render 'buttons' %> 
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-comment-dots"></i> Outras informações
      </div>
      <div class="card-body">
        <p>N° de itens cadastrados: <span class="badge bg-secondary"><%= Item.count %></span></p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
         <i class="fas fa-grip-horizontal"></i> Itens importados / cadastrados
         <%= render 'pagination' %>
      </div>
      <div class="card-body">       
       <%= render 'table' %> 
      </div>
    </div>
  </div>
</div>  

<%= render 'pagination' %>
<%= render 'shared/modal/utilizar' %>
<%= render 'shared/modal/sobre' %>
<hr>



