<h1><i class="fa-regular fa-circle-plus"></i>Itens</h1>

<%= render 'import' %>

<div id="buttons">
 <%= render 'buttons' %> 
</div>  

<div id="items">
  <table class="table mt-3">  
    <thead>
      <tr>
        <th scope="col">Tombamento</th>
        <th scope="col">Descrição</th>  
        <th scope="col">Ação</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <%= render item %>
        <p>
          <%= link_to "", item %>
        </p>
      <% end %>
      
    </tbody>
  </div>  
</div>

<%= paginate @items, theme: 'bootstrap-5',
  pagination_class: "pagination-sm mt-1 flex-wrap justify-content-center",
  nav_class: "d-inline-block" %>

<%= render 'shared/modal/utilizar' %>
<%= render 'shared/modal/sobre' %>




