<div class="card bg-light bg-gradient mt-2 p-2">
  <h1 class="lead">Itens</h1>
  <%= render 'import' %>
  <div id="buttons">
    <%= render 'buttons' %> 
  </div>  
</div>


<div id="items">
  <table class="table table-sm table-responsive mt-3">  
    <thead>
      <tr>
        <th scope="col">Tombamento</th>
        <th scope="col">Descrição</th>  
        <th scope="col">Ação</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <%= render item %>
        <p>
          <%= link_to "", item %>
        </p>
      <% end %>      
    </tbody>
  </div>  
</div>

<%= render 'shared/modal/utilizar' %>
<%= render 'shared/modal/sobre' %>


<%= paginate @items, theme: 'bootstrap-5',
  pagination_class: "pagination-sm mt-1 flex-wrap justify-content-center",
  nav_class: "d-inline-block" %>

