<p style="color: green"><%= notice %></p>

<h1>Itens</h1>

<%= link_to 'Deletar tudo', del_all_path %>
<%= render 'import' %>

<div id="items">
  <table class="table">

  <tbody>
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "", item %>
    </p>
  <% end %>
  </tbody>
  </div>
</div>

<%= link_to "New item", new_item_path %>
